body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e4e4e4;
}

body .glyphicon {
  color: lightblue;
}

body ul {
  list-style: none;
  padding-right: 1em;
}

body ul li {
  padding-top: 1em;
}

body p {
  text-indent: 1em;
}

#not-found {
  margin-top: 30vh;
}

#custom-nav {
  min-height: 200px;
  background-image: url("/images/md/navbar-bg.jpg");
  background-size: cover;
  background-position: center center;
}

#user-nav .navbar-right {
  margin-top: 10px;
}

#user-nav .navbar-right .btn {
  opacity: 0.9;
  font-size: 2rem;
}

.navbar {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.navbar:hover {
  background-color: #793c11;
}

.navbar .dropdown {
  position: static;
}

.navbar .dropdown .dropdown-menu {
  direction: rtl;
  width: 100%;
  text-align: right;
  /*height of main menu*/
}

.navbar .dropdown .dropdown-menu h4 {
  color: blue;
  font-weight: bold;
}

.navbar .dropdown .dropdown-menu .soon {
  color: orangered;
}

.navbar .dropdown .dropdown-menu ul {
  padding: 0;
  list-style: none;
}

.navbar .dropdown .dropdown-menu ul li {
  padding: 0;
}

.navbar .dropdown .dropdown-menu ul a {
  color: #333;
}

.navbar .dropdown .dropdown-menu ul a:hover {
  text-decoration: none;
  color: red;
}

.page-index {
  margin-top: 50px;
}

.page-index ul {
  list-style: none;
  margin: 0;
  padding-right: 5px;
}

.page-index ul li {
  padding-top: 1rem;
  margin-right: 0;
}

.page-index ul li a {
  text-decoration: none;
}

.page-index ul li a:hover {
  color: red;
}

.page-index ul li .glyphicon {
  color: #000;
}

.page-content {
  background-color: #f4f4f4;
  margin-top: 50px;
  padding-right: 2em;
}

.page-content h2 {
  margin: 0.9em auto;
}

.page-content img {
  margin: 20px auto;
  width: 70%;
  height: auto;
}

.page-content ul {
  list-style-type: decimal;
}

