body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e4e4e4;
  overflow: visible !important;
}

body .glyphicon {
  color: lightblue;
}

body ul {
  list-style: none;
  padding-right: 1em;
}

body ul li {
  padding-top: 1em;
}

body p {
  text-indent: 1em;
}

.table tbody .odd-row {
  background-color: #f7fde0;
}

ul.list-number {
  list-style-type: decimal !important;
}

ul.custom-list {
  list-style: disc !important;
  padding-right: 2em !important;
}

.list-group .list-group-item:hover {
  background: #1b9bff;
  color: #fff;
}

.list-group .list-group-item:hover a {
  color: crimson;
}

.table > tbody > tr > td {
  vertical-align: middle !important;
}

.col-divider [class*='col-']:not(:first-child):after {
  background: #e0e0e0;
  width: 1px;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
}

#not-found {
  margin-top: 30vh;
}

#custom-nav {
  min-height: 200px;
  background-image: url("/images/md/navbar-bg.jpg");
  background-size: cover;
  background-position: center center;
}

#user-nav .navbar-right {
  margin-top: 10px;
}

#user-nav .navbar-right .btn {
  opacity: 0.9;
  font-size: 2rem;
}

.navbar {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.navbar:hover {
  background-color: #793c11;
}

.navbar .dropdown {
  position: static;
}

.navbar .dropdown .dropdown-menu {
  direction: rtl;
  width: 100%;
  text-align: right;
  /*height of main menu*/
}

.navbar .dropdown .dropdown-menu h4 {
  color: blue;
  font-weight: bold;
}

.navbar .dropdown .dropdown-menu .soon {
  color: orangered;
}

.navbar .dropdown .dropdown-menu ul {
  padding: 0;
  list-style: none;
}

.navbar .dropdown .dropdown-menu ul li {
  padding: 0;
}

.navbar .dropdown .dropdown-menu ul a {
  color: #333;
}

.navbar .dropdown .dropdown-menu ul a:hover {
  text-decoration: none;
  color: red;
}

#tutorial-side-nav {
  background: #f4f4f4;
  margin-top: 50px;
  overflow: visible;
  width: 100%;
}

#tutorial-side-nav h4 {
  padding: 1em;
  text-align: center;
}

#tutorial-side-nav ul {
  background: #333;
  z-index: 500;
  padding-right: 0;
  width: 100%;
}

#tutorial-side-nav ul li {
  position: relative;
  border-bottom: #1a1919 solid 1px;
  padding: 0;
}

#tutorial-side-nav ul li a {
  color: #fff !important;
  display: block;
  padding-top: 12px;
  padding-right: 1em;
  padding-bottom: 12px;
  min-width: 100%;
}

#tutorial-side-nav ul li:hover {
  background: #1b9bff;
  z-index: 501;
}

#tutorial-side-nav ul li:hover ul {
  background: #1b9bff;
  visibility: visible;
}

#tutorial-side-nav ul li:hover ul ul {
  visibility: hidden;
}

#tutorial-side-nav ul ul {
  position: absolute;
  opacity: 0.98;
  -webkit-box-shadow: 0 5px 5px;
          box-shadow: 0 5px 5px;
  top: 0;
  right: 100%;
  visibility: hidden;
}

#tutorial-side-nav ul ul li {
  border-bottom-color: #0290ff;
}

#tutorial-side-nav ul ul li a {
  color: #000 !important;
}

#tutorial-side-nav ul ul li:hover {
  background: #81c8ff;
}

#tutorial-side-nav ul ul li:hover ul {
  visibility: visible;
}

#tutorial-side-nav ul ul ul {
  visibility: hidden;
}

.page-content {
  background-color: #f4f4f4;
  margin-top: 50px;
  padding-right: 2em;
}

.page-content h2 {
  margin: 0.9em auto;
}

.page-content h4 {
  padding-top: 1em;
}

.page-content ul {
  padding-left: 2em;
}

.page-content img {
  margin: 20px auto;
  width: 70%;
  height: auto;
}

.page-content .glyphicon {
  color: orange;
  font-size: 1.5em;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  padding-left: 1em;
}

.page-content #motherboard-components ul {
  list-style: none !important;
}

.page-content .table {
  margin-top: 1em;
  margin-bottom: 2.5em;
}

#main-footer {
  min-height: 300px;
  background: #222;
  color: #eee;
  margin-top: 30px;
}

@media (max-width: 767px) {
  #tutorial-side-nav {
    display: none;
  }
}

