//general
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e4e4e4;
    .glyphicon {
        color: lightblue;
    }
    ul {
        list-style: none;
        padding-right: 1em;
        li {
            padding-top: 1em;
        }
    }
    p {
        text-indent: 1em;
    }
}

//not found //
#not-found {
    margin-top: 30vh;
}

/////custom-nav/////
#custom-nav {
    min-height: 200px;
    background-image: url('/images/md/navbar-bg.jpg');
    background-size: cover;
    background-position: center center;
}

//////user-navbar/////
#user-nav {
    .navbar-right {
        margin-top: 10px;
        .btn {
            opacity: 0.9;
            font-size: 2rem;
        }
    }
}

/////main navbar /////
.navbar {
    transition: background-color 1s;
    &:hover {
        background-color: darken(chocolate, 20%);
    }
    .dropdown {
        position: static;
        .dropdown-menu {
            direction: rtl;
            width: 100%;
            text-align: right;
            h4 {
                color: blue;
                font-weight: bold;
            }
            .soon {
                color: orangered;
            }
            ul {
                padding: 0;
                li {
                    padding: 0;
                }
                list-style: none;
                a {
                    color: #333;
                    ;
                    &:hover {
                        text-decoration: none;
                        color: red;
                    }
                }
            }
            // min-width: 100vw;
            // justify-self: right;
            // text-align: right;
            /*height of main menu*/
        }
    }
}

/////index ////////
.page-index {
    margin-top: 50px;
    ul {
        list-style: none;
        margin: 0;
        padding-right: 5px;
        li {
            padding-top: 1rem;
            margin-right: 0;
            a {
                text-decoration: none;
                &:hover {
                    color: red;
                }
            }
            .glyphicon {
                color: #000;
            }
        }
    }
}

////////////////page content////////////
.page-content {
    background-color: #f4f4f4;
    margin-top: 50px;
    padding-right: 2em;
    h2 {
        margin: 0.9em auto;
    }
    h4 {
        padding-top: 1em;
    }
    img {
        margin: 20px auto;
        width: 70%;
        height: auto;
    }
    .glyphicon {
        color: orange;
        font-size: 1.5em;
        transform: translateY(30%);
        padding-left: 1em;
    }
    //motherboard components
    #motherboard-components {
        ul {
            list-style-type: decimal;
        }
    }
}