//general
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e4e4e4;
    .glyphicon {
        color: lightblue;
    }
    overflow: visible !important;
    ul {
        list-style: none;
        padding-right: 1em;
        li {
            padding-top: 1em;
        }
    }
    p {
        text-indent: 1em;
    }
}

//table
//custom stipped table
.table {
    tbody {
        .odd-row {
            background-color: rgb(247, 253, 224);
        }
    }
}

// list
ul.list-number {
    list-style-type: decimal !important;
}

ul.custom-list {
    list-style: disc !important;
    padding-right: 2em !important;
}

.list-group {
    .list-group-item {
        &:hover {
            a {
                color: crimson;
            }
            background: #1b9bff;
            color: #fff;
        }
    }
}

//make rowspan in middle
.table>tbody>tr>td {
    vertical-align: middle !important;
}

.col-divider [class*='col-']:not(:first-child):after {
    background: #e0e0e0;
    width: 1px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
}

//not found //
#not-found {
    margin-top: 30vh;
}

/////custom-nav/////
#custom-nav {
    min-height: 200px;
    background-image: url('/images/md/navbar-bg.jpg');
    background-size: cover;
    background-position: center center;
}

//////user-navbar/////
#user-nav {
    .navbar-right {
        margin-top: 10px;
        .btn {
            opacity: 0.9;
            font-size: 2rem;
        }
    }
}

/////main navbar /////
.navbar {
    transition: background-color 1s;
    &:hover {
        background-color: darken(chocolate, 20%);
    }
    .dropdown {
        position: static;
        .dropdown-menu {
            direction: rtl;
            width: 100%;
            text-align: right;
            h4 {
                color: blue;
                font-weight: bold;
            }
            .soon {
                color: orangered;
            }
            ul {
                padding: 0;
                li {
                    padding: 0;
                }
                list-style: none;
                a {
                    color: #333;
                    ;
                    &:hover {
                        text-decoration: none;
                        color: red;
                    }
                }
            }
            // min-width: 100vw;
            // justify-self: right;
            // text-align: right;
            /*height of main menu*/
        }
    }
}

///////////////tutorial-side-nav////////////////
#tutorial-side-nav {
    background: #f4f4f4;
    h4 {
        padding: 1em;
        text-align: center;
    }
    margin-top: 50px;
    overflow: visible;
    width: 100%;
    ul {
        background: #333;
        z-index: 500;
        padding-right: 0;
        li {
            position: relative;
            border-bottom: darken($color: #333, $amount: 10) solid 1px;
            padding: 0;
            a {
                color: #fff !important;
                display: block;
                padding-top: 12px;
                padding-right: 1em;
                padding-bottom: 12px;
                min-width: 100%;
            }
            &:hover {
                background: #1b9bff;
                ;
                z-index: 501;
                ul {
                    background: #1b9bff;
                    visibility: visible;
                    ul {
                        visibility: hidden;
                    }
                }
            }
        }
        width: 100%;
        ul {
            position: absolute;
            opacity: 0.98;
            box-shadow: 0 5px 5px;
            top: 0;
            right: 100%;
            visibility: hidden;
            li {
                a {
                    color: #000 !important;
                }
                &:hover {
                    ul {
                        visibility: visible;
                    }
                    background: lighten($color: #1b9bff,
                    $amount: 20);
                }
                border-bottom-color: darken($color: #1b9bff,
                $amount: 5);
            }
            ul {
                visibility: hidden;
            }
        }
    }
}

////////////////page content////////////
.page-content {
    background-color: #f4f4f4;
    margin-top: 50px;
    padding-right: 2em;
    h2 {
        margin: 0.9em auto;
    }
    h4 {
        padding-top: 1em;
    }
    ul {
        padding-left: 2em;
        list-style-type: circle;
    }
    img {
        margin: 20px auto;
        width: 70%;
        height: auto;
    }
    .glyphicon {
        color: orange;
        font-size: 1.5em;
        transform: translateY(30%);
        padding-left: 1em;
    }
    //motherboard components
    #motherboard-components {
        ul {
            list-style: none !important;
        }
    }
    .table {
        margin-top: 1em;
        margin-bottom: 2.5em;
    }
}

//////////////////////main footer//////////////////////
#main-footer {
    min-height: 300px;
    background: #222;
    color: #eee;
    margin-top: 30px;
}

//////////////////////media///////////////////////
@media(max-width:767px) {
    #tutorial-side-nav {
        display: none;
    }
}